<section class="product mx-auto max-w-[1440px]">
    <ul class="flex gap-8 sm:gap-0 sm:justify-between font-semibold text-base px-28 sm:px-5 pt-[18px] sm:pt-8 sm:pb-5">
        <li class="cursor-pointer">
            <a>Description</a>
        </li>
        <li class="cursor-pointer">
            <a>Specifications</a>
        </li>
        <li class="cursor-pointer">
            <a>Rewiews (7)</a>
        </li>
    </ul>
</section>