<section class="mx-auto max-w-[1440px] bg-lightGray">
    <div class="px-28 sm:px-6 pb-[88px] sm:overflow-x-auto">
        <h2 class="font-semibold text-3xl pt-10 sm:pt-8 pb-8 sm:text-2xl">Technical specifications</h2>
        <table class="border-spacing-x-5">
            <thead>
                <tr class="text-primary text-left">
                    <th class="px-5 py-2 sm:text-sm">Model</th>
                    <th class="px-5 py-2 sm:text-sm">Frame size</th>
                    <th class="px-5 py-2 sm:text-sm">Weight</th>
                    <th class="px-5 py-2 sm:text-sm">Max speed</th>
                    <th class="px-5 py-2 sm:text-sm">Battery</th>
                    <th class="px-5 py-2 sm:text-sm">Engine</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="px-5 py-2 sm:text-sm">Ladies - Small</td>
                    <td class="px-5 py-2 sm:text-sm">50cm</td>
                    <td class="px-5 py-2 sm:text-sm">24 kg</td>
                    <td class="px-5 py-2 sm:text-sm">45 km/h</td>
                    <td class="px-5 py-2 sm:text-sm">625 Wh</td>
                    <td class="px-5 py-2 sm:text-sm">Bosch Performace Line Speed</td>
                </tr>
                <tr>
                    <td class="px-5 py-2 sm:text-sm">Ladies - Small</td>
                    <td class="px-5 py-2 sm:text-sm">50cm</td>
                    <td class="px-5 py-2 sm:text-sm">24 kg</td>
                    <td class="px-5 py-2 sm:text-sm">45 km/h</td>
                    <td class="px-5 py-2 sm:text-sm">625 Wh</td>
                    <td class="px-5 py-2 sm:text-sm">Bosch Performace Line Speed</td>
                </tr>
                <tr>
                    <td class="px-5 py-2 sm:text-sm">Ladies - Small</td>
                    <td class="px-5 py-2 sm:text-sm">50cm</td>
                    <td class="px-5 py-2 sm:text-sm">24 kg</td>
                    <td class="px-5 py-2 sm:text-sm">45 km/h</td>
                    <td class="px-5 py-2 sm:text-sm">625 Wh</td>
                    <td class="px-5 py-2 sm:text-sm">Bosch Performace Line Speed</td>
                </tr>
                <tr>
                    <td class="px-5 py-2 sm:text-sm">Ladies - Small</td>
                    <td class="px-5 py-2 sm:text-sm">50cm</td>
                    <td class="px-5 py-2 sm:text-sm">24 kg</td>
                    <td class="px-5 py-2 sm:text-sm">45 km/h</td>
                    <td class="px-5 py-2 sm:text-sm">625 Wh</td>
                    <td class="px-5 py-2 sm:text-sm">Bosch Performace Line Speed</td>
                </tr>
                <tr>
                    <td class="px-5 py-2 sm:text-sm">Ladies - Small</td>
                    <td class="px-5 py-2 sm:text-sm">50cm</td>
                    <td class="px-5 py-2 sm:text-sm">24 kg</td>
                    <td class="px-5 py-2 sm:text-sm">45 km/h</td>
                    <td class="px-5 py-2 sm:text-sm">625 Wh</td>
                    <td class="px-5 py-2 sm:text-sm">Bosch Performace Line Speed</td>
                </tr>
                <tr>
                    <td class="px-5 py-2 sm:text-sm">Ladies - Small</td>
                    <td class="px-5 py-2 sm:text-sm">50cm</td>
                    <td class="px-5 py-2 sm:text-sm">24 kg</td>
                    <td class="px-5 py-2 sm:text-sm">45 km/h</td>
                    <td class="px-5 py-2 sm:text-sm">625 Wh</td>
                    <td class="px-5 py-2 sm:text-sm">Bosch Performace Line Speed</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>